﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterForHome.master" AutoEventWireup="true" CodeFile="dmtpayment.aspx.cs" Inherits="dmtpayment" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <div style="text-align: center;">
        <img src="Images/commingsoon.jpg" alt="comming soon" style="margin: 100px;width:50%;" />
    </div>
</asp:Content>

